/* ======= Centering the search bar ====== */

.search-box {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}

.search-box input {
  width: 300px;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 999px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 12px 22px;
  border-radius: 999px;
  border: none;
  background: #ff2d2d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.search-box button:hover {
  background: #3feb73;
  transform: scale(1.05);
}

/* ============ Card Animations (so that it lifts up on hover) */

.anime-card {
  background: #ebecf0a4;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  transition: 0.25s;
  cursor: pointer;
}

.anime-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

/* =========== Making the card layout respoinsive for mobile users */

.anime-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  padding: 20px;
}
